<body class="bodys">

    <nav class="navbar fixed-top navbar-expand-lg navbar-custom navbar-light">
        <!-- <a class="navbar-brand" href="#">Home</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span>Menu</span> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
    Menu
  </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mx-auto">
                <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="assets/Anshul-Mahajan-Resume.pdf" target="_blank" matTooltip='See My Resume'>
                        <div style="font-size: 54px;">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                        </div>
                        <span class="sr-only">(current)</span>
                    </a>
                    <!-- <a class="nav-link" href="resume/Anshul-Mahajan-Resume.pdf" target="_blank">
            Resume <span class="sr-only">(current)</span></a> -->
                    <!-- <a class="nav-link"  routerLink="/resume" >
            Resume <span class="sr-only">(current)</span></a> -->
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#projects" matTooltip='My Recent Projects'>
                        <div style="font-size: 54px;">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>

                    </a>

                </li>

                <!-- </ul>

        <ul class="navbar-nav mx-auto"> -->

                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="https://www.linkedin.com/in/anshul-mahajan-47404b113/" target="_blank" matTooltip='linkedin'>
                        <div style="font-size: 54px;">
                            <i class="fa fa-linkedin-square fa-10x" aria-hidden="true"></i>
                        </div>

                    </a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="https://twitter.com/AnshulM25089818" target="_blank" matTooltip='twitter'>
                        <div style="font-size: 54px;">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>


            </ul>
        </div>

        <!-- <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" >
        <a class="nav-link" href="https://www.linkedin.com/in/anshul-mahajan-47404b113/" target="_blank">
          Linkedin</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" >
        <a class="nav-link" href="https://github.com/AnshulMahajan10" target="_blank">
          Github</a>
      </li>
    </ul>
  </div> -->
    </nav>



</body>

<router-outlet></router-outlet>

<a class="back-to-top" href="#name" *ngIf="showBottomArrow"><i class="fa fa-arrow-circle-up"></i></a>