.bodys {
    //text-align: center;
    //color: white;
    background-image: url("/assets/img/photo-1516541196182-6bdb0516ed27.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    max-height: 100px;
}

.navbar-custom {
    //background-color: #e3f2fd;
    // background-color: white;
}

.navbar-custom .navbar-nav .nav-link {
    //color: #5896D7;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-toggler {
    font-size: 18px;
    //right: 0;
    padding: 10px;
    //text-transform: uppercase;
    // color: white;
    border: 0;
    background-color: #5896D7;
}

#name {
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #5896D7;
    color: white;
}

.nameinfo {
    font-size: 35px;
    font-style: normal;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .nameinfo {
        font-size: 25px;
        font-style: normal;
        text-align: left;
    }
}

.skillsinfo {
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .skillsinfo {
        font-size: 20px;
        font-style: normal;
        text-align: left;
    }
}

@media screen and (max-width: 700px) {
    .wordwrap {
        width: 300px;
        word-wrap: break-word;
    }
}

.contactinfo {
    font-size: 30px;
    font-style: normal;
    text-align: center;
    //padding-left: 200px;
}

@media screen and (max-width: 800px) {
    .contactinfo {
        font-size: 20px;
        text-align: left;
        padding-top: 20px;
        // padding-left: 20px;
    }
}

.headingPortfolio {
    font-size: 40px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .headingPortfolio {
        font-size: 28px;
        color: white;
        text-align: left;
    }
}

.example-card {
    max-width: 400px;
    min-height: 150px;
    font-size: 20px;
    background-color: #5896D7;
    color: white;
}

#Information {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #5896D7;
    color: white;
}

@media screen and (max-width: 1550px) {
    #Information {
        padding-top: 10px;
        padding-bottom: 20px;
        background-color: #5896D7;
        color: white;
    }
}

#Projects {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5896D7;
    color: white;
}

@media screen and (max-width: 1550px) {
    #Projects {
        background-color: #5896D7;
        color: white;
    }
}

#footer {
    background-color: #5896D7;
    color: white;
    min-height: 300px;
}

@media screen and (max-width: 1550px) {
    #footer {
        background-color: #5896D7;
        color: white;
        min-height: 100px;
    }
}

.link {
    color: yellow;
}