<body class="bodys">


    <div class="container-fluid" id="name">




        <div class="row">






            <div class="col nameinfo">
                Anshul Mahajan<br> Full Stack Developer

            </div>







        </div>



    </div>

</body>


<body class="bodys">

    <div class="container-fluid" id="Information">

        <br>

        <div class="container-fluid" id="skillscontactlist">

            <div class="row">


                <div class="col skillsinfo">
                    <h3>About:</h3>
                    I have 9+ years of experience in the industry, <br> I have extensive experience working with frameworks such as Angular, Flutter, React.
                    <br>I am skilled in developing and deploying Full Stack Applications from scratch.<br>


                </div>







            </div>

            <br><br>

            <div class="row">




                <div class="col contactinfo">

                    <h3>Contact Info:</h3>
                    <div>
                        <a href="mailto:anshulmahajan10@gmail.com" target="_top" class=" wordwrap">
                            <i class="fa fa-envelope" aria-hidden="true"></i> : anshulmahajan10@gmail.com </a>

                    </div>
                    <div>
                        <!-- <a href="mailto:anshulmahajan10@gmail.com" target="_top" class=" wordwrap"> -->
                        <i class="fa fa-phone-square" aria-hidden="true"></i> : 416-857-6486
                        <!-- </a> -->

                    </div>

                    <div>

                        Location : Toronto

                    </div>



                </div>





            </div>
        </div>

    </div>
</body>

<!-- <body class="bodys">

    <div class="container-fluid" id="Projects">

        <br>

        <div class="row">



            <div class="col headingPortfolio">
                <h3>Recent Projects:</h3>
            </div>


        </div>

        <br><br> -->

<!-- <div class="container-fluid" id="projectslist">

            <div class="row"> -->



<!-- <div class="col">
                    <mat-card class="example-card">
                        Apotex Web App<br>
                        <a href="https://apotex360.ca/home" target="_blank">Demo</a>
                    </mat-card>
                </div>

                <div class="col">
                    <mat-card class="example-card">
                        Virtual Connect App<br>(Android, ios)<br> Flutter, Firebase
                    </mat-card>
                </div> -->

<!-- <div class="col">
                    <mat-card class="example-card">
                        Client: Sahaja Yoga DC Web App (2018)<br> -->
<!-- <a href="https://serene-journey-67398.herokuapp.com/home" target="_blank" class="link">Demo</a> -->
<!-- </mat-card>
                </div> -->

<!-- </div>
        </div> -->

<!-- </div>

</body> -->

<!-- <div class="container-fluid" id="footer">

</div> -->