.navbar-custom {
    background-color: #e3f2fd;
}

.navbar-custom .navbar-nav .nav-link {
    color: #5896D7;
    font-size: 20px;
}

#name {
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: #5896D7;
    color: white;
}

@media screen and (max-width: 2050px) {
    #name {
        padding-top: 200px;
        padding-bottom: 150px;
        background-color: #5896D7;
        color: white;
    }
}

.nameinfo {
    font-size: 55px;
    font-style: normal;
    text-align: center;
}

@media screen and (max-width: 2050px) {
    .nameinfo {
        font-size: 75px;
        font-style: normal;
        text-align: center;
        color: wheat;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media screen and (max-width: 800px) {
    .nameinfo {
        font-size: 25px;
        font-style: normal;
        text-align: left;
    }
}

.skillsinfo {
    font-size: 30px;
    font-style: normal;
    //text-align: left;
    //padding-left: 800px;
}

@media screen and (max-width: 2050px) {
    .skillsinfo {
        font-size: 30px;
        font-style: normal;
        //text-align: left;
        //padding-left: 250px;
    }
}

@media screen and (max-width: 1100px) {
    .skillsinfo {
        font-size: 20px;
        font-style: normal;
        //text-align: left;
        //padding-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .wordwrap {
        width: 300px;
        word-wrap: break-word;
    }
}

#skillscontactlist {
    max-width: 1350px;
    padding-left: 100px;
}

@media screen and (max-width: 1100px) {
    #skillscontactlist {
        max-width: 1350px;
        padding-left: 0px;
    }
}

.contactinfo {
    font-size: 30px;
    font-style: normal;
    //text-align: left;
    //padding-left: 200px;
}

@media screen and (max-width: 2050px) {
    .contactinfo {
        font-size: 30px;
        font-style: normal;
        //text-align: left;
        // padding-left: 80px;
    }
}

@media screen and (max-width: 1100px) {
    .contactinfo {
        font-size: 20px;
        text-align: left;
        padding-top: 20px;
        //padding-left: 0px;
    }
}

.headingPortfolio {
    font-size: 40px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .headingPortfolio {
        font-size: 28px;
        color: white;
        text-align: left;
        //color: yellow;
    }
}

.example-card {
    max-width: 400px;
    min-height: 150px;
    font-size: 20px;
    background-color: #5896D7;
    color: white;
    border: 1px solid white;
    // background-color: white;
    // color: #5896D7;
}

@media screen and (max-width: 800px) {
    .example-card {
        max-width: 400px;
        min-width: 200px;
        min-height: 150px;
        font-size: 20px;
        background-color: #5896D7;
        color: white;
        text-align: left;
    }
}

#Information {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #5896D7;
    color: white;
}

@media screen and (max-width: 1550px) {
    #Information {
        padding-top: 10px;
        padding-bottom: 20px;
        background-color: #5896D7;
        color: white;
    }
}

#Projects {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5896D7;
    color: white;
}

@media screen and (max-width: 1550px) {
    #Projects {
        background-color: #5896D7;
        color: white;
    }
}

#projectslist {
    max-width: 1000px;
    //background-color: white;  
}

@media screen and (max-width: 800px) {
    #projectslist {
        max-width: 1000px;
    }
}

#footer {
    background-color: #5896D7;
    color: white;
    min-height: 300px;
}

@media screen and (max-width: 1550px) {
    #footer {
        background-color: #5896D7;
        color: white;
        min-height: 100px;
    }
}

.link {
    color: yellow;
}

.linkemail {
    color: yellow;
    font-size: 30px;
}

@media screen and (max-width: 1100px) {
    .linkemail {
        color: yellow;
        font-size: 18px;
    }
}