<div class="container-fluid" id="name">

    <div class="row">



        <div class="col nameinfo">
            Anshul Mahajan<br> Full Stack Developer<br> Location: Toronto

        </div>






    </div>

</div>

<div class="container-fluid" id="Information">

    <br>

    <div class="container-fluid" id="skillscontactlist">

        <div class="row">


            <div class="col skillsinfo">
                <h3>Skills:</h3>
                Angular, React, Node, Firebase<br> Java Script, Type Script, HTML, CSS<br> SQL Server, Informatica, Oracle<br>

            </div>

            <div class="col contactinfo">

                <h3>Contact Info:</h3>
                <div style="font-size: 54px;">
                    <a href="mailto:anshulmahajan10@gmail.com" target="_top" class="linkemail wordwrap">
                        <i class="fa fa-envelope" aria-hidden="true"></i> : anshulmahajan10@gmail.com </a>

                </div>
                <div style="font-size: 54px;">
                    <a href="mailto:anshulmahajan10@gmail.com" target="_top" class="linkemail wordwrap">
                        <i class="fa fa-phone-square" aria-hidden="true"></i> : 416-857-6486 </a>

                </div>



            </div>





        </div>

    </div>

</div>



<div class="container-fluid" id="Projects">

    <br>

    <div class="row">



        <div class="col headingPortfolio">
            <h3>Recent Projects:</h3>
        </div>


    </div>

    <br><br>

    <div class="container-fluid" id="projectslist">

        <div class="row">



            <div class="col">
                <mat-card class="example-card">
                    Employer: Solis Healthcare<br> Location: North York, Toronto (2019-Current)<br>
                    <a href="https://apotex360.ca/home" target="_blank" class="link">Demo</a>
                </mat-card>
            </div>

            <div class="col">
                <mat-card class="example-card">
                    Employer: Active Health Management (Aetna)<br> ETL Consultant (2014-2019)
                </mat-card>
            </div>

            <div class="col">
                <mat-card class="example-card">
                    Client: Sahaja Yoga DC Web App (2018)<br>
                    <!-- <a href="https://serene-journey-67398.herokuapp.com/home" target="_blank" class="link">Demo</a> -->
                </mat-card>
            </div>

        </div>
    </div>

</div>

<div class="container-fluid" id="footer">

</div>