.bodyone{
    padding-top: 50px;
}

@media screen and (max-width: 1100px) {
    .bodyone {
        max-height: 500px;
    }
}

@media screen and (max-width: 800px) {
    .bodyone {
        max-height: 300px;
    }
}


.bodys {
    max-height: 1000px;
}

@media screen and (max-width: 800px) {
    .bodys {
        max-height: 800px;
    }
}

.navbar-custom {
    background-color: #e3f2fd;
}

.navbar-custom .navbar-nav .nav-link {
    color: #5896D7;
    font-size: 20px;
}

#name {
     padding-top: 100px;
     padding-bottom: 250px;
    //  padding-left: 50px;
    background-color: #F6F6F6;
     color: rgb(192, 150, 60);
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

// @media screen and (max-width: 2050px) {
//     #name {
//         padding-top: 200px;
//         padding-bottom: 150px;
//         background-color: #F6F6F6;
//         //background-color: #e3f2fd;
//         color: rgb(192, 150, 60);
//         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//     }
// }

// @media screen and (max-width: 1400px) {
//     #name {
//         padding-top: 200px;
//         padding-bottom: 150px;
//         //background-color: #5896D7;
//         //background-color: #e3f2fd;
//         color: rgb(192, 150, 60);
//         //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//     }
// }

@media screen and (max-width: 800px) {
    #name {
        padding-top: 70px;
        padding-bottom: 120px;
        //background-color: #5896D7;
        //background-color: #e3f2fd;
        color: rgb(192, 150, 60);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
}

.nameinfo {
    font-size: 100px;
    // font-style: bold;
    float: left;
    padding-left: 150px;
    font-family: "Playfair Display", serif;
}

// @media screen and (max-width: 2050px) {
//     .nameinfo {
//         font-size: 80px;
//         float: left;
//         padding-left: 470px;
      
//     }
// }

// @media screen and (max-width: 1400px) {
//     .nameinfo {
//         font-size: 80px;
//         float: left;
//         padding-left: 370px;
       
//     }
// }

@media screen and (max-width: 800px) {
    .nameinfo {
        font-size: 35px;
        float: left;
        padding-left: 10px;
    }
}

.developer {
    font-size: 45px;
    //font-style: normal;
     float: left;
    padding-left: 150px;
    color: black;
    font-family: "Montserrat", sans-serif;
}

// @media screen and (max-width: 2050px) {
//     .developer {
//         font-size: 30px;
//         color: black;
//         float: left;
//         padding-left: 470px;
//     }
// }

// @media screen and (max-width: 1400px) {
//     .developer {
//         font-size: 30px;
//         color: black;
//         float: left;
//         padding-left: 370px;
//     }
// }

@media screen and (max-width: 800px) {
    .developer {
        font-size: 25px;
        color: black;
        float: left;
        padding-left: 10px;
      
    }
}

#Information {
    padding-top: 20px;
    // padding-bottom: 10px;
    //background-color: #5896D7;
    // color: white;
}

@media screen and (max-width: 1550px) {
    #Information {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.dot {
    color:  rgb(192, 150, 60);
    -webkit-text-fill-color: rgb(192, 150, 60);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(192, 150, 60);
  }


.about {
    font-size: 100px;
    font-family: "Playfair Display", serif;
     color: transparent;
     -webkit-text-stroke: 2px black;
    font-style: bold;

}

// @media screen and (max-width: 2050px) {
//     .about {
//         font-size: 35px;
//         color: rgb(192, 150, 60);
//         font-style: bold;
//         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//     }
// }

@media screen and (max-width: 1100px) {
    .about {
        font-size: 30px;
        font-family: "Playfair Display", serif;
        color: transparent;
        -webkit-text-stroke: 2px black;
        font-style: bold;
    }
}

.skillsinfo {
    font-size: 30px;
    font-style: normal;
    color: black;
    font-family: "Karla", sans-serif;
    
    //text-align: left;
    //padding-left: 800px;
}

@media screen and (max-width: 2050px) {
    .skillsinfo {
        font-size: 30px;
        font-style: normal;
        color: black;
        //text-align: left;
        //padding-left: 250px;
    }
}

@media screen and (max-width: 1100px) {
    .skillsinfo {
        font-size: 25px;
        //font-style: normal;
        color: black;
        //text-align: left;
        //padding-left: 0px;
    }
}

@media screen and (max-width: 1100px) {
    .skillsinfo {
        font-size: 25px;
        //font-style: normal;
        color: black;
        //text-align: left;
        //padding-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .wordwrap {
        width: 300px;
        word-wrap: break-word;
    }
}

#skillscontactlist {
    max-width: 1350px;
    padding-left: 100px;
}

@media screen and (max-width: 1100px) {
    #skillscontactlist {
        max-width: 1350px;
        padding-left: 0px;
    }
}

.contactinfo {
    font-size: 30px;
    font-style: normal;
    
    //text-align: left;
    //padding-left: 200px;
}

@media screen and (max-width: 2050px) {
    .contactinfo {
        font-size: 30px;
        font-style: normal;
        //text-align: left;
        // padding-left: 80px;
    }
}

@media screen and (max-width: 1100px) {
    .contactinfo {
        font-size: 20px;
        text-align: left;
        padding-top: 20px;
        //padding-left: 0px;
    }
}

@media screen and (max-width: 800px) {
    .contactinfo {
        font-size: 20px;
        text-align: left;
        padding-top: 20px;
        //padding-left: 0px;
    }
}
a:link {
    color: black;
}

#projects {
     padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 100px;
    max-width: 1350px;
    //background-color: #5896D7;
    // color: white;
}

@media screen and (max-width: 2050px) {
    #projects {
        // max-width: 1350px;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 100px;
    }
}


@media screen and (max-width: 1550px) {
    #projects {
        // max-width: 1350px;
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 1110px) {
    #projects {
        // max-width: 1350px;
         padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 800px) {
    #projects {
        // max-width: 1350px;
        padding-top: 70px;
        padding-bottom: 20px;
        padding-left: 0px;
    }
}


.example-card {
    max-width: 350px;
    min-height: 330px;
    max-height: 350px;
    align-items: center;
    
  }

  .mat-card-content{
    font-style: bold;
    font-family: "Playfair Display", serif;
    font-size: 15px;
  }
  
  .example-header-image {
    background-image: url('../../assets/img/apotex360.PNG');
    background-size: cover;
  }

  .button
  {
    //   color: rgb(192, 150, 60);
      color: white;
      background-color: rgb(192, 150, 60);
  }

  .mat-card-title{
      color: rgb(192, 150, 60);
      font-family: "Playfair Display", serif;
      font-size: 30px;
  }

  .mat-card-image{
      margin: 10px;
      max-width: 250px;
      max-height: 100px;
  }

  @media screen and (max-width: 1550px) {
    .mat-card-image{
        margin: 10px;
        max-width: 250px;
        max-height: 100px;
    }
}

.mat-card-actions{
    padding-left: 5px;
}

#footer {
    background-color: #5896D7;
    color: white;
    min-height: 300px;
}

@media screen and (max-width: 1550px) {
    #footer {
        background-color: #5896D7;
        color: white;
        min-height: 100px;
    }
}

.link {
    color: yellow;
}

.linkemail {
    color: yellow;
    font-size: 30px;
}

@media screen and (max-width: 1100px) {
    .linkemail {
        color: yellow;
        font-size: 18px;
    }
}