<body class="bodyone">


    <div class="container" id="name">



        <div class="row">



            <div class="col">
                <div class=" nameinfo">
                    Anshul Mahajan
                </div>
                <br>
                <div class="developer">
                    Full Stack Developer
                </div>


            </div>


        </div>


    </div>

</body>


<body class="bodys">

    <div class="container-fluid" id="Information">

        <br>

        <div class="container-fluid" id="skillscontactlist">

            <div class="row">


                <div class="col">
                    <h3 class="about"><span class="dot">.</span>about</h3>
                    <div class="skillsinfo">
                        Hi! My name is Anshul and I'm a Full Stack Developer. I live in Toronto, Canada.<br>
                        I have 9+ years of experience in the industry, <br> I have extensive experience working with
                        frameworks such as Angular, Flutter, React.
                        <br>I am skilled in developing and deploying Full Stack Applications from scratch.<br>

                    </div>
                </div>







            </div>

            <br><br>

            <div class="row">




                <div class="col contactinfo">

                    <h3 class="about"><span class="dot">.</span>contact:</h3>
                    <div class="">
                        <a href="mailto:anshulmahajan10@gmail.com" target="_top" class="">
                            <i class="fa fa-envelope fa-sm" aria-hidden="true"></i> :
                            anshulmahajan10@gmail.com </a>

                    </div>
                    <div class="">
                        <!-- <a href="mailto:anshulmahajan10@gmail.com" target="_top" class=" wordwrap"> -->
                        <i class="fa fa-phone-square" aria-hidden="true"></i> : 416-857-6486
                        <!-- </a> -->

                    </div>

                    <div class="skillsinfo">

                        Location : Toronto

                    </div>



                </div>





            </div>
        </div>

    </div>
</body>

<body class="bodys">

    <div class="container-fluid" id="Information">

        <br>

        <div class="container-fluid" id="skillscontactlist">

            <div class="row">
                <div class="col">
                    <h3 class="about"><span class="dot">.</span>projects</h3>
                    <div class="row justify-content-center">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                <mat-card-title>Apotex 360 Web App</mat-card-title>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image src="../../assets/img/apotex3601.PNG" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Developing a web application for our client, where users can login and access Apotex
                                    pharmacy’s products.
                                    The end-user (i.e. pharmacists) can compare drugs, verify drugs patterns and the
                                    various colors of the medication.

                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <a href="https://apotex360.ca/" target="_blank"> 
                                    <button mat-button class="button">Demo</button>
                                </a>
                                
                                <!-- <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>